.button {
  background-color: #201568;
  border: none;
  border-radius: 0.5rem;
  color: #fff;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 600;
  /* margin-top: 1rem; */
  padding: 0.8rem;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  background-color: #3f66ff;
}

.sm {
  padding: 0.6rem;
  font-size: 0.8rem;
}
