.button {
    background-color: #201568;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 100%;
    color: #fff;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 600;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.8rem;
    transition: all 0.2s ease-in-out;
}

.button:hover {
    background-color: #3f66ff;
}